@use '../../../../css/variables.scss' as v;

.recipe_wrapper {
  flex: calc(24% - 1rem);
  min-width: 300px;
}

.recipe_item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .8rem;

  & .recipe_item_img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: center;
    border-radius: v.$img-border-radius;
  }

  &_content {
    display: flex;
    flex-direction: column;
    gap: .6rem;

    &_name {
      font-size: 1.2rem;
      font-weight: 600;
    }

    &_intro {
      font-size: .9rem;
      color: v.$light-grey;
      line-height: normal;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &_bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: .5rem 0;
      color: v.$light-grey;
      font-size: .9rem;
    }
  }
}
