// colors
$color-primary: #00be1c;
$color-secondary: #565656;
$light-grey: #adadad;

$hoover-primary: #008c15;

// height
$header-height: 50px;

// border
$light-border: .5px solid #e8e8e8;

// border-radius
$img-border-radius: .3rem;
