@use '../../../../css/variables.scss' as v;

.meal_plan_item_container {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding-bottom: .6rem;
  border-bottom: v.$light-border;
}

.meal_plan_item_date {
  font-size: 1.6rem;
  font-weight: 400;
}
